



<div class="card">
  <div class="card-header border-0 pt-6">
    <div *ngIf="hasPermission('user_list')" class="d-flex flex-column flex-md-row">
      <div class="d-flex gap-3 align-items-center position-relative my-1">
        <app-keenicon
          name="magnifier"
          class="fs-3 position-absolute ms-5"
        ></app-keenicon>
        <input
          type="text"
          [(ngModel)]="selectedAction.email"
          (ngModelChange)="loadUsers()"
          data-action="filter"
          class="form-control form-control-solid w-250px ps-12"
          placeholder="Search Email "
        />
      </div>
      <div class="d-flex flex-column align-items-center gap-3">
        Active Status
        <mat-slide-toggle
          [(ngModel)]="selectedAction.isActive"
          (ngModelChange)="loadUsers()"
          color="primary"
        >
        </mat-slide-toggle>
      </div>
      <div class="d-flex align-items-center position-relative my-1">
        <app-keenicon
          name="magnifier"
          class="fs-3 position-absolute ms-5"
        ></app-keenicon>
        <input
          type="text"
          [(ngModel)]="selectedAction.firstName"
          (ngModelChange)="loadUsers()"
          data-action="filter"
          class="form-control form-control-solid w-250px ps-12"
          placeholder="Search Name "
        />
      </div>
    </div>
    <div class=" card-toolbar">
      <div class="d-flex justify-content-end"  *ngIf="hasPermission('user_add')">
        <button
       
          type="button"
          class="btn btn-primary"
          (click)="openFormModal(formModal, 'create')"
          data-action="create"
        >
          Add User
        </button>
      </div>
    </div>
  </div>

  <div
  *ngIf="hasPermission('user_list')"
    style="overflow: visible"
    class="table-container card-body table-responsive pt-0"
  >
  <div>
    
  </div>
    <table
      datatable
      class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer table-hover"
    >
      <thead>
        <tr>
          <th>FullName</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Status</th>
          <th class="actions-header">Actions</th>
        </tr>
      </thead>
      <tbody class="fw-semibold text-gray-600">
        <tr *ngFor="let user of users">
          <td class="">
            <div class="d-flex flex-column" data-action="view" data-id="452">
              <a
                href="javascript:;"
                class="text-gray-800 text-hover-primary mb-1"
                >{{ user.firstName }} {{ user.lastName }}
              </a>
            </div>
          </td>
          <td>{{ user.email }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>{{ user.isActive }}</td>
          <td class="more action-List">
            <div
              class="btn btn-icon more"
              (click)="toggleMenu($event, user.id)"
            >
              <ng-container>
                <div class="btn btn-success">More</div>
              </ng-container>
            </div>
            <div
              *ngIf="selectedUserId === user.id"
              class="menu-column menu-rounded menu-title-gray-700 menu-icon-muted menu-active-bg menu-state-primary fw-semibold py-4 fs-base w-175px"
              style="
                border-radius: 5px;
                background-color: white;
                position: absolute;
                top: 59px;
                right: 45px;
                z-index: 99;
              "
            >
              <ng-container>

                <div  *ngIf="hasPermission('user_delete')"  class="menu-item px-3 my-0">
                  <a
                    (click)="openDeleteSwal(user.id)"
                    data-action="delete"
                    class="menu-link px-3 py-2"
                  >
                    <span class="menu-icon" data-kt-element="icon">
                      <i class="ki-duotone ki-trash fs-3">
                        <span class="path1"></span><span class="path2"></span>
                        <span class="path3"></span><span class="path4"></span
                        ><span class="path5"></span>
                      </i>
                    </span>
                    <span class="menu-title">Delete</span>
                  </a>
                </div>
                <div  *ngIf="hasPermission('user_edit')" class="menu-item px-3 my-0">
                  <a
                    (click)="openFormModal(formModal, 'edit', user)"
                    data-action="edit"
                    class="menu-link px-3 py-2"
                  >
                    <span class="menu-icon" data-kt-element="icon">
                      <i class="ki-duotone ki-pencil fs-3"
                        ><span class="path1"></span><span class="path2"></span
                      ></i>
                    </span>
                    <span class="menu-title">Edit</span>
                  </a>
                </div>

                <div  *ngIf="hasPermission('user_permission_edit')" class="menu-item px-3 my-0">
                  <a
                    (click)="openPermissionModal(permissionModal, user)"
                    data-action="edit"
                    class="menu-link px-3 py-2"
                  >
                    <span class="menu-icon" data-kt-element="icon">
                      <i class="ki-duotone ki-pencil fs-3"
                        ><span class="path1"></span><span class="path2"></span
                      ></i>
                    </span>
                    <span class="menu-title">Permissoin</span>
                  </a>
                </div>

                <div *ngIf="hasPermission('rest_password_edit')" class="menu-item px-3 my-0">
                  <a
                    (click)="openPasswordModal(passwordModal, user)"
                    data-action="edit"
                    class="menu-link px-3 py-2"
                  >
                    <span class="menu-icon" data-kt-element="icon">
                      <i class="ki-duotone ki-pencil fs-3"
                        ><span class="path1"></span><span class="path2"></span
                      ></i>
                    </span>
                    <span class="menu-title">Reset Password</span>
                  </a>
                </div>
              </ng-container>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>









<ng-template #passwordModal let-modal>
  <form #myForm="ngForm" (ngSubmit)="onpasswordSubmit()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        Reset Password {{ selectedUser.firstName }}
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <!-- User Information -->
      <div class="d-flex flex-column scroll-y me-n7 pe-7 mw-650px">
        <div class="w-100 mb-7">
          <label class="required fw-semibold fs-6 mb-2">Email</label>
          <input
            type="email"
            class="form-control form-control-solid"
            name="email"
            placeholder="Email"
            [(ngModel)]="selectedUser.email"
            readonly
          />
        </div>
        <div class="w-100 mb-7">
          <label class="required fw-semibold fs-6 mb-2">Password</label>
          <input
            type="text"
            class="form-control form-control-solid"
            name="password"
            placeholder="Password"
            [(ngModel)]="password"
            required
          />
        </div>
        <div class="w-100 mb-7">
          <label class="required fw-semibold fs-6 mb-2">Confirm Password</label>
          <input
            type="text"
            class="form-control form-control-solid"
            name="confirmpassword"
            [(ngModel)]="confirmPassword"
            placeholder="Confirm Password"
            required
          />
          <div
            *ngIf="myForm.submitted && !confirmPassword"
            class="invalid-feedback"
          >
            Confirm Password is required
          </div>
          <div
            *ngIf="myForm.submitted && password !== confirmPassword"
            class="invalid-feedback"
          >
            Passwords do not match
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer flex-center">
      <!-- Cancel Button -->
      <button
        type="reset"
        class="btn btn-light me-3"
        (click)="modal.dismiss('cancel')"
      >
        Discard
      </button>

      <!-- Submit Button -->
      <button
        type="submit"
        class="btn btn-primary"
        [attr.data-kt-indicator]="isLoading ? 'on' : 'off'"
      >
        <span class="indicator-label"> Change Password </span>
        <span class="indicator-progress">
          Please wait...
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>
      </button>
    </div>
  </form>
</ng-template>

<ng-template #formModal let-modal>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        {{ isEditMode ? "Edit User" : "Add User" }}
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <div class="d-flex flex-column scroll-y me-n7 pe-7">
        <div class="d-flex gap-3 justify-content-between">
          <div class="w-100 mb-7">
            <div class="form-group d-flex flex-column">
              <label class="required fw-semibold fs-6 mb-2">Roles</label>
              <mat-form-field>
                <mat-select formControlName="userRoles" multiple>
                  <mat-option *ngFor="let role of roles" [value]="role.id">
                    {{ role.name }}
                  </mat-option>
                </mat-select>
                
                
              
                
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="d-flex gap-3 justify-content-between">
          <div class="w-100 mb-7">
            <label class="required fw-semibold fs-6 mb-2">First Name</label>
            <input
              type="text"
              class="form-control form-control-solid"
              name="firstName"
              formControlName="firstName"
              required
            />
          </div>
          <div class="w-100 mb-7">
            <label class="required fw-semibold fs-6 mb-2">Last Name</label>
            <input
              type="text"
              class="form-control form-control-solid"
              name="lastName"
              formControlName="lastName"
              required
            />
          </div>
        </div>
        <div class="d-flex gap-3 justify-content-between">
          <div class="w-100 mb-7">
            <label class="required fw-semibold fs-6 mb-2">Mobile Number</label>
            <input
              type="number"
              class="form-control form-control-solid"
              name="phoneNumber"
              formControlName="phoneNumber"
              required
            />
          </div>
          <div class="w-100 mb-7">
            <label class="required fw-semibold fs-6 mb-2">Email</label>
            <input
              type="email"
              class="form-control form-control-solid"
              name="email"
              formControlName="email"
              required
            />
          </div>
        </div>
        <div *ngIf="!isEditMode" class="d-flex gap-3 justify-content-between">
          <div class="w-100 mb-7">
            <label class="required fw-semibold fs-6 mb-2">Password</label>
            <input
              type="text"
              class="form-control form-control-solid"
              name="password"
              formControlName="password"
              required
            />
          </div>
        </div>
        <div class="d-flex gap-3 justify-content-between">
          <div class="w-100 mb-7">
            <label class="required fw-semibold fs-6 mb-2">Active</label>
            <mat-slide-toggle
              name="isActive"
              formControlName="isActive"
              color="secondary"
            >
            </mat-slide-toggle>
          </div>
        </div>
        <div class="d-flex gap-3 justify-content-between">
          <div class="w-100 mb-7">
            <label class="required fw-semibold fs-6 mb-2">Address</label>
            <input
              type="text"
              class="form-control form-control-solid"
              name="address"
              formControlName="address"
              required
            />
          </div>
        </div>
        <div [formGroup]="form">
          <div formArrayName="userAllowedIPs">
            <div
              *ngFor="let ip of userAllowedIPs.controls; let i = index"
              [formGroupName]="i"
              class="input-group mb-3"
            >
              <!-- Input for ipAddress -->
              <input
                type="text"
                class="form-control"
                formControlName="ipAddress"
                placeholder="Enter IP Address"
              />
              <!-- Optionally display userId if needed, or it can be managed behind the scenes -->
              <input type="hidden" formControlName="userId" />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-danger"
                  type="button"
                  (click)="removeIP(i)"
                >
                  Remove
                </button>
              </div>
            </div>
          </div>
          <button
            class="btn btn-outline-success"
            type="button"
            (click)="addIP()"
          >
            Add New IP Address
          </button>
        </div>
      </div>
    </div>

    <div class="modal-footer flex-center">
      <!-- Cancel Button -->
      <button
        type="reset"
        class="btn btn-light me-3"
        (click)="modal.dismiss('cancel')"
      >
        Discard
      </button>

      <!-- Submit Button -->
      <button
        type="submit"
        class="btn btn-primary"
        [attr.data-kt-indicator]="isLoading ? 'on' : 'off'"
      >
        <span class="indicator-label">
          {{ isEditMode ? "update" : "Create" }}
        </span>
        <span class="indicator-progress">
          Please wait...
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>
      </button>
    </div>
  </form>
</ng-template>

<ng-template #permissionModal let-modal>
  <form #myForm="ngForm" (ngSubmit)="saveUserClaims()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        User Page Permission To: {{ selectedUser?.firstName }}
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <!-- User Information -->
      <div class="d-flex flex-column scroll-y me-n7 pe-7">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Page (URL)</th>
              <th *ngFor="let action of actionList">{{ action.name }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let page of pagesList">
              <td>{{ page.name }} ({{ page.url }})</td>
              <td *ngFor="let action of actionList">
                <div *ngIf="checkPageAction(page.id, action.id)">
                  <!-- <mat-slide-toggle [checked]="checkPermission(page.id,action.id)" color="primary"
                    (change)="onPermissionChange($event,page,action)"> -->
                  <mat-slide-toggle
                    [checked]="checkPermission(page.id, action.id)"
                    color="primary"
                    (change)="onPermissionChange($event, page, action)"
                  >
                  </mat-slide-toggle>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="modal-footer flex-center">
      <!-- Cancel Button -->
      <button
        type="reset"
        class="btn btn-light me-3"
        (click)="modal.dismiss('cancel')"
      >
        Discard
      </button>

      <!-- Submit Button -->
      <button
        type="submit"
        class="btn btn-primary"
        [attr.data-kt-indicator]="isLoading ? 'on' : 'off'"
      >
        <span class="indicator-label"> Save </span>
        <span class="indicator-progress">
          Please wait...
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>
      </button>
    </div>
  </form>
</ng-template>
<swal
  #deleteSwal
  title="Are you sure to delete?"
  text="This cannot be undone"
  icon="warning"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="triggerDelete(selectedEmailTemplateSettingId)"
  [customClass]="{
    confirmButton: 'btn btn-danger',
    cancelButton: 'btn btn-active-light'
  }"
></swal>
<swal
  #successSwal
  title="Delete successfully!"
  text=""
  icon="success"
  [customClass]="{ confirmButton: 'btn btn-success' }"
></swal>