<div class="card">
  <div class="card-header border-0 pt-6">
    <div class="card-title">
      <div class="d-flex align-items-center position-relative my-1"></div>
    </div>
  </div>

  <div class="card-body pt-0">
    <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
      <!-- User Information -->
      <div class="d-flex gap-5">
        <div class="w-100 mb-7">
          <select class="form-select" aria-label="Default select example">
            <option *ngFor="let setting of emailtemplates" [value]="setting.id">
              {{ setting.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="d-flex gap-5">
        <div class="w-100 mb-7">
          <!-- Host -->
          <label class="required fw-semibold fs-6 mb-2">TO</label>
          <input
            type="text"
            class="form-control form-control-solid"
            name="toAddress"
            formControlName="toAddress"
            id="toAddress"
            required
          />
        </div>
        <div class="w-100 mb-7">
          <!-- Host -->
          <label class="required fw-semibold fs-6 mb-2">CC</label>
          <input
            type="text"
            class="form-control form-control-solid"
            name="ccAddress"
            formControlName="ccAddress"
            id="ccAddress"
            required
          />
        </div>
      </div>
      <div class="d-flex gap-5">
        <div class="w-100 mb-7">
          <!-- Host -->
          <label class="required fw-semibold fs-6 mb-2">SUBJECT</label>
          <input
            type="text"
            class="form-control form-control-solid"
            name="subject"
            formControlName="subject"
            id="subject"
            required
          />
        </div>
      </div>
      <div class="w-100 mb-7">
        <label class="required fw-semibold fs-6 mb-2">Body</label>
        <angular-editor formControlName="body" [config]="editorConfig"></angular-editor>
      </div>
      <div class="w-100 mb-7">
        <label class="required fw-semibold fs-6 mb-2">Attachment</label>
        <input type="file" class="form-control" (change)="onFileSelected($event)" multiple>
      </div>
      
      
      <div class="d-flex gap-5">
        <div class="w-100 mb-7"><button class="btn btn-primary" type="submit">Send</button></div>
      </div>
    </form>
  </div>
</div>

<!-- <swal
  #deleteSwal
  title="Are you sure to delete?"
  text="This cannot be undone"
  icon="warning"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="triggerDelete(selectedEmailTemapletSettingID)"
  [customClass]="{
    confirmButton: 'btn btn-danger',
    cancelButton: 'btn btn-active-light'
  }"
></swal>


<swal
  #successSwal
  title="Delete successfully!"
  text=""
  icon="success"
  [customClass]="{ confirmButton: 'btn btn-success' }"
></swal> -->
