<div class="card mb-5 mb-xl-10">
  <div class="card-body pt-9 pb-0">
    <div class="d-flex flex-wrap flex-sm-nowrap mb-3 gap-3">
      <div class="d-flex flex-column gap-3 " >
        <div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative" >
          <img src="./assets/media/avatars/300-1.jpg" alt="Metronic" />
          <div
            class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-white h-20px w-20px" ></div>
        </div>
        <a
          class="btn btn-sm btn-primary cursor-pointer"
          data-bs-toggle="modal"
          data-bs-target="#kt_modal_offer_a_deal"
        >
          Change Photo
        </a>
      </div>

      <div class="flex-grow-1">
        <div
          class="d-flex justify-content-between align-items-start flex-wrap mb-2"
        >
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center mb-2">
              <a
                class="text-gray-800 text-hover-primary fs-2 fw-bolder me-1 cursor-pointer"
              >
                {{ userProfile?.firstName }} {{ userProfile?.lastName }}
              </a>
              <a class="cursor-pointer">
                <app-keenicon
                  name="verify"
                  class="fs-1 text-primary"
                ></app-keenicon>
              </a>
              <a
                class="btn btn-sm btn-light-success fw-bolder ms-2 fs-8 py-1 px-3 cursor-pointer"
                data-bs-toggle="modal"
                data-bs-target="#kt_modal_upgrade_plan"
              >
                Upgrade to Pro
              </a>
            </div>

            <div class="d-flex flex-wrap fw-bold fs-6 mb-4 pe-2">
              <a
                class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2 cursor-pointer"
              >
                <app-keenicon
                  name="profile-circle"
                  class="fs-4 me-1"
                ></app-keenicon>
                {{ userProfile?.phoneNumber }}
              </a>
              <a
                class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2 cursor-pointer"
              >
                <app-keenicon
                  name="geolocation"
                  class="fs-4 me-1"
                ></app-keenicon>
                {{ userProfile?.address }}
              </a>
              <a
                class="d-flex align-items-center text-gray-500 text-hover-primary mb-2 cursor-pointer"
              >
                <app-keenicon name="sms" class="fs-4 me-1"></app-keenicon>
                {{ userProfile.email }}
              </a>
            </div>
          </div>

          <div class="d-flex my-4">
            <a
              class="btn btn-sm btn-primary me-3 cursor-pointer"
              data-bs-toggle="modal"
              data-bs-target="#kt_modal_offer_a_deal"
              (click)="openFormModal(ChangeformModal, profile)"
            >
              Change Password
            </a>
            <button
              class="btn btn-sm btn-primary me-3 cursor-pointer"
              (click)="openFormModal(formModal, profile)"
            >x  
              Update Profile
            </button>
          </div>
        </div>

        <div class="d-flex flex-wrap flex-stack">
          <div class="d-flex flex-column flex-grow-1 pe-8">
            <div class="d-flex flex-wrap">
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #formModal let-modal>
  <form (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Update Profile</h4>
      <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="d-flex flex-column scroll-y me-n7 pe-7 mw-650px">
        <div class="mb-7">
          <label class="required fw-semibold fs-6 mb-2">User Name</label>
          <input
            type="text"
            class="form-control form-control-solid"
            name="host"
            required
          />
          <div class="invalid-feedback">Host is required</div>
        </div>
        <div class="mb-7">
          <label class="required fw-semibold fs-6 mb-2">Email</label>
          <input
            type="text"
            class="form-control form-control-solid"
            name="username"
            required
          />
          <div class="invalid-feedback">Username is required</div>
        </div>
        <div class="mb-7">
          <label class="required fw-semibold fs-6 mb-2">First Name</label>
          <input
            type="text"
            class="form-control form-control-solid"
            name="port"
            required
          />
          <div class="invalid-feedback">Port is required</div>
        </div>
        <div class="mb-7">
          <label class="required fw-semibold fs-6 mb-2">Last Name</label>
          <input
            type="text"
            class="form-control form-control-solid"
            name="port"
            required
          />
          <div class="invalid-feedback">Port is required</div>
        </div>
        <div class="mb-7">    
          <label class="required fw-semibold fs-6 mb-2">Phone Number</label>
          <input
            type="text"
            class="form-control form-control-solid"
            name="port"
            required
          />
          <div class="invalid-feedback">Port is required</div>
        </div>
        <div class="mb-7">
          <label class="required fw-semibold fs-6 mb-2">Address</label>
          <input
            type="text"
            class="form-control form-control-solid"
            name="port"
            required
          />
          <div class="invalid-feedback">Port is required</div>
        </div>
      </div>
    </div>
    <div class="modal-footer flex-center">
      <button type="reset" class="btn btn-light me-3">Discard</button>
      <button type="submit" class="btn btn-primary">
        <span class="indicator-label"> Update </span>
        <span class="indicator-progress">
          Please wait...
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>
      </button>
    </div>
  </form>
</ng-template>

<ng-template #ChangeformModal let-modal>
  <form (ngSubmit)="onChangeSubmit()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Change Password</h4>
      <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="d-flex flex-column scroll-y me-n7 pe-7 mw-650px">
        <div class="mb-7">
          <label class="required fw-semibold fs-6 mb-2">Old Password</label>
          <input
            type="text"
            class="form-control form-control-solid"
            name="host"
            required
          />
          <div class="invalid-feedback">Old Password is required</div>
        </div>
        <div class="mb-7">
          <label class="required fw-semibold fs-6 mb-2">New Password</label>
          <input
            type="text"
            class="form-control form-control-solid"
            name="username"
            required
          />
          <div class="invalid-feedback">New Password is required</div>
        </div>
      </div>
    </div>
    <div class="modal-footer flex-center">
      <button type="reset" class="btn btn-light me-3">Discard</button>
      <button type="submit" class="btn btn-primary">
        <span class="indicator-label"> Change Password </span>
        <span class="indicator-progress">
          Please wait...
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>
      </button>
    </div>
  </form>
</ng-template>