<div class="card card-flush bgi-no-repeat bgi-size-contain bgi-position-x-end w-1200"
     [ngClass]="cssClass"
     [ngStyle]="{'background-color': color, 'background-image': 'url(' + img + ')'}">
  <div class="card-header pt-5">
    <div class="card-title d-flex flex-column">
      <span class="fs-2hx fw-bold text-white me-2 lh-1 ls-n2">{{ detailNumber }}</span>
      <span class="fs-2hx fw-bold text-white me-2 lh-1 ls-n2">{{ detailarray }}</span>
      <span class="text-white opacity-75 pt-1 fw-semibold fs-6">{{ description }}</span>
    </div>
  </div>
</div>
