<!-- dashboard.component.html -->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10 w-100">
  <div class="w-50 col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
    <app-cards-widget20
      cssClass="h-md-50 mb-5 mb-xl-10"
      description="Online Users"
      [detailNumber]="activeUsers"
      color="#00a65a"
      img="./assets/media/patterns/vector-1.png"
    ></app-cards-widget20>
    <app-cards-widget20
      cssClass="h-md-50 mb-5 mb-xl-10"
      description="Total Users"
      [detailNumber]="totalUsers"
      color="#00c0ef"
      img="./assets/media/patterns/vector-1.png"
    ></app-cards-widget20>
  </div>
  <div class="w-50 col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
    <app-cards-widget20
      cssClass="h-md-50 mb-5 mb-xl-10"
      description="Active Users"
      [detailNumber]="activeUsers"
      color="#ffc107"
      img="./assets/media/patterns/vector-1.png"
    ></app-cards-widget20>
    <app-cards-widget20
      cssClass="h-md-50 mb-5 mb-xl-10"
      description="Inactive Users"
      [detailNumber]="inactiveUsers"
      color="#dc3545"
      img="./assets/media/patterns/vector-1.png"
    ></app-cards-widget20>
  </div>
</div>
<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
  <!--begin::Col-->
  <div class="w-50   col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
    <div class="card card-xxl-stretch mb-5 mb-xl-8">
      <!-- tables-widget10.component.html -->
      <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bolder fs-3 mb-1"
            >Recently Added Users</span
          >
        </h3>
      </div>
      <div class="card-body py-3">
        <div class="table-responsive">
          <table
            class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4"
          >
            <thead>
              <tr class="fw-bolder text-muted">
                <th class="min-w-150px">Email</th>
                <th class="min-w-140px">First Name</th>
                <th class="min-w-120px">Last Name</th>
                <th class="min-w-100px">Phone</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of recentlyRegisteredUsers">
                <td>{{ user.email }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.phoneNumber }}</td>
                <!-- Assuming Phone exists, add if available -->
              </tr>
              <tr *ngIf="recentlyRegisteredUsers.length === 0">
                <td colspan="4">
                  No recently registered users available.
                  {{ recentlyRegisteredUsers }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="w-50   col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
    <div class="card card-xxl-stretch mb-5 mb-xl-8">
      <!-- tables-widget10.component.html -->
      <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bolder fs-3 mb-1"
            >Online Users</span
          >
        </h3>
      </div>
      <div class="card-body py-3">
        <div class="table-responsive">
          <table
            class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4"
          >
            <thead>
              <tr class="fw-bolder text-muted">
                <th class="min-w-150px">Email</th>
                <th class="min-w-140px">First Name</th>
                <th class="min-w-120px">Last Name</th>
                <th class="min-w-100px">Phone</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let onlineUser of onlineUsers">
                <td>{{ onlineUser.email }}</td>
                <td>{{ onlineUser.firstName }}</td>
                <td>{{ onlineUser.lastName }}</td>
                <td>{{ onlineUser.phoneNumber }}</td>
              
              </tr> -->
              <!-- <tr *ngIf="onlineUsers.length === 0">
                <td colspan="4">
                  No recently registered users available.
                  {{ onlineUsers }}
                </td>
               </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
